.page-container.customer-stories
  .container

    .row.u-flex
      .col-md-5.u-flex.u-vert-center
        = image_tag "/images/case_study_logos/axway-logo.svg", class: "customer-logo", alt: "Axway Logo svg"
        %h4 Software
        %h3 Axway aims for elite DevOps status with GitLab
        .btn-group
          = link_to "Read the Case Study", "/customers/axway-devops/", class: "btn cta-btn orange margin-top20"
      .col-md-6.col-md-offset-1.u-padding-left-0.hidden-sm.hidden-xs
        .slide-media
          .slide-media-bg{ style: "background-image: url('/images/blogimages/axway_casestudy_2.png')" }

    .row.u-flex
      .col-md-5.col-md-offset-1.col-md-push-6.u-flex.u-vert-center
        = image_tag "/images/customers/ticketmaster.svg", class: "customer-logo", alt: "Ticketmaster Logo svg"
        %h4 Entertainment
        %h3 How GitLab CI supported Ticketmaster’s ramp up to weekly mobile releases
        .btn-group
          = link_to "Read the Case Study", "/blog/2017/06/07/continous-integration-ticketmaster/", class: "btn cta-btn orange margin-top20"
      .col-md-6.col-md-pull-6.u-padding-right-0.hidden-sm.hidden-xs
        .slide-media.slide-media--alt
          .slide-media-bg{ style: "background-image: url('/images/customers/ticketmaster-feature-spot.jpg')" }

    .row.u-flex
      .col-md-5.u-flex.u-vert-center
        = image_tag "/images/customers/cncf.svg", class: "customer-logo", alt: "Cloud Native Computing Foundation Logo svg"
        %h4 Information Technology
        %h3 The Cloud Native Computing Foundation eliminates complexity with a unified CI/CD system
        .btn-group
          = link_to "Read the Case Study", "/customers/cncf/", class: "btn cta-btn orange margin-top20"
      .col-md-6.col-md-offset-1.u-padding-left-0.hidden-sm.hidden-xs
        .slide-media
          .slide-media-bg{ style: "background-image: url('/images/customers/cncf-feature-spot.jpg')" }

    .row.u-flex
      .col-md-5.col-md-offset-1.col-md-push-6.u-flex.u-vert-center
        = image_tag "/images/case_study_logos/worldline-logo.svg", class: "customer-logo", alt: "Worldline Logo svg"
        %h4 Financial Services
        %h3 Worldline hosts 14,500 projects and has 3,000 active users on their GitLab platform
        .btn-group
          = link_to "Read the Case Study", "/customers/worldline/", class: "btn cta-btn orange margin-top20"
      .col-md-6.col-md-pull-6.u-padding-right-0.hidden-sm.hidden-xs
        .slide-media.slide-media--alt
          .slide-media-bg{ style: "background-image: url('/images/blogimages/worldline-case-study-image.jpg')" }

    .row.u-flex
      .col-md-5.u-flex.u-vert-center
        = image_tag "/images/case_study_logos/Fanatics_logo2.svg", class: "customer-logo", alt: "Fanatics Logo svg"
        %h4 Retail
        %h3 GitLab offers Fanatics the CI stability they were searching for
        .btn-group
          = link_to "Read the Case Study", "/customers/fanatics/", class: "btn cta-btn orange margin-top20"
      .col-md-6.col-md-offset-1.u-padding-left-0.hidden-sm.hidden-xs
        .slide-media
          .slide-media-bg{ style: "background-image: url(/images/blogimages/fanatics_case_study_image.png)" }
